.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    /* background-color: blue;
} */
.head-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: aqua; */
}
.welcome-container{
    display: flex;
    justify-content: center;
}