
.login-container{
    display: flex;
    height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    margin: 10px;

    /* for debugging purpose i used background color property */
    /* background-color: aqua; */

}
.sub-container{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 30px;
    gap: 20px;
    background-color: black;
}
.sub-container-alert{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px;
}
.input-box{
    height: 40px;
    width: 300px;
}

.login-btn{
    height: 50px;
    width: 140px;
}
